.DS_Store
tags

lib
bin

.coverage
.coverage.*

*.pyc

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

*.log
unittests_log
nohup.out
pycallgraph.png
.rope*
run.sh
ea_stats.json
dist
playground.egg*
net_adaptors.json

*.aux
*.log
*.bbl
*.blg
*.dvi
*.out

training.csv
test.csv

docs/report/report.synctex.gz
docs/report/report.pdf
